body{
	margin: 0;
}
.rulesCircle{
	display: flex;
	position: relative;
	height: 100vh;
	background: white;
	transition: background 0.5s;
}
.circle{
	/*width: 400px;*/
	position: absolute;
	/*height: 400px;*/
	top: 50%;
	list-style: none;
	transform: translate(0,-50%);
}
.rulesicon{
	/*position: absolute;*/
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: right;
	top: 50%;
	/*transform: translate(0%,-50%)rotate(0deg);*/
	transition: transform 0.5s;
}

.active_tab{
	transform: scale(1.2);
}

.icon{
	/*transform: translate(50%,0%);*/
	transition: transform 0.5s;
}

.text{
	/*text-align: center;*/
	margin-right: 20px;
	transform-origin: 0 50%;
	transform: translate(0,-50%) rotate(0deg);
	position: absolute;
	left: 0;
	top: 50%;
	transition: transform 1s;
}

.initial{
	transform: translate(0,-50%) rotate(180deg);
}

.content_area{
	margin-right: 0;
  margin-left: auto;
  width: 60%;
}
@media(max-width:1000px){
	.circle{
		display: none;
	}
	.video{
		display: none;
	}
	.text{
		position: relative;
	}
	.initial{
		transform: none;
	}
	.rulesCircle{
		display: block;
	}
	.content_area{
		width: 90%;
		margin: auto;
	}
	.logos_section{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.hackathon{
		width: 90%;
		margin: auto;
	}
	.logos_section img{
		height: 100px;
	}
}
/*.animate-tohidden-fwd{
	animation-name: currToHiddenFwd;
	animation-duration: 1s;
}
.animate-tohidden-bwd{
	animation-name: currToHiddenBwd;
	animation-duration: 1s;
}
.animate-tocurr-fwd{
	animation-name: hiddenToCurrFwd;
	animation-duration: 1s;
}
.animate-tocurr-bwd{
	animation-name: hiddenToCurrBwd;
	animation-duration: 1s;
}


@keyframes currToHiddenFwd{
	0%{
		transform: translate(0%,-50%) rotate(0deg);
	}

	100%{
		transform: translate(0%,-50%) rotate(-180deg);
	}
}
@keyframes currToHiddenBwd{
	0%{
		transform: translate(0%,-50%) rotate(-0deg);
	}
	100%{
		transform: translate(0%,-50%) rotate(180deg);
	}
}
@keyframes hiddenToCurrFwd{
	0%{
		transform: translate(0%,-50%) rotate(180deg);
	}
	100%{
		transform: translate(0%,-50%) rotate(0deg);
	}
}
@keyframes hiddenToCurrBwd{
	0%{
		transform: translate(0%,-50%) rotate(180deg);
	}
	100%{
		transform: translate(0%,-50%) rotate(0deg);
	}
}*/
